body{background-image: url("back2.jpg");background-repeat: no-repeat; background-size: cover;}
h2{text-align: center; font-size:25px;}
img{border-radius: 50%; margin-left: 10%;}
.main{display: flex; flex-wrap: wrap;}
.seconed{width: 31.333%; padding: 1%;}
.seconed h1{color: rgb(26, 13, 116);}
.link1
{
    text-align: center;text-decoration: none;padding: 15px;margin: 0;background-color: forestgreen;width: 30%;float: right;color: fuchsia;font-size: 20px;
}
.link2
{
    text-align: center;text-decoration: none;padding: 15px;margin: 0;background-color: forestgreen;width: 30%;float: left;color: fuchsia;font-size: 20px;
}
.link1:hover{background-color: burlywood;}
.link2:hover{background-color: burlywood;}
@media screen and (max-width:1000px){
    .seconed{width: 46%; padding: 2%;}
    #ibrahimovic{margin-left: 25%;}
    .link1{width: 20%;}
    .link2{width: 20%;}
}